@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@model IEnumerable<Child_Care_Mangement_System.Models.Child>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Carer Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User carer = await UserManager.GetUserAsync(User);
}
<div class="container">
    @if (await UserManager.IsInRoleAsync(carer, "Carer"))
    {
        <p class="my-2">
            <a class="btn btn-primary" asp-action="ManageMeal">Manage Meal</a>
        </p>

    }

    <h4>Child List</h4>

    <table id="ChildList" class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>Category</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChildId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CareCategory.Description)
                    </td>
                    <td>
                        <a id="clockInBtn" onclick="clockIn(@item.ChildId)">Clock In</a> |
                        <a asp-action="ChildDiet" asp-route-id="@item.ChildId">Diet</a> |
                        <a asp-action="ChildInfo" asp-route-id="@item.ChildId">Details</a> |
                        <a asp-action="MealEntry" asp-route-id="@item.ChildId">Meal Entry</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>





    <div style="z-index:9999999999;" class="modal fade" id="setAvailability" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="targetedWorkItemTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="meeting-time">Choose Date :</label>

                    <input required type="date" id="availabilityDate"
                           name="availabilityDate">
                    <div class="my-2">
                        <div class="form-group">
                            <label for="from">From:</label>

                            <input type="time" id="from" name="from" required />
                            <label for="to">To:</label>

                            <input type="time" id="to" name="to" required />
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModalBtn">Close</button>
                    <button id="saveAvailability" onclick="setAvailability(@carer.Id)" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script>
        $(document).ready(function () {
            $('#ChildList').DataTable();
        });
        function clockIn(childId) {
            console.log("Here")

            console.log(childId)
            $.ajax({
                url: "/Carer/ClockInChild",
                type: "POST",
                data: { ChildId: childId },
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    if (response.success == true) {
                        alertify.success(response.message);
                    }
                    else {
                        alertify.error(response.message)
                    }
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });

        }

        function setAvailability(userId) {
            console.log(userId)
            var obj = {
                userId: userId,
                availabilityDate: $("#availabilityDate").val(),
                from: $("#from").val(),
                to: $("#to").val()
            };
            $.ajax({
                url: "/Carer/SetAvailability",
                type: "POST",
                data: { userId: userId, availabilityDate: obj.availabilityDate, from: obj.from, to: obj.to },
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    if (response.success == true) {
                        alertify.success(response.message);
                    }
                    else {
                        alertify.error(response.message)
                    }
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
            $("#closeModalBtn").trigger("click");

        }




    </script>
